.ant-btn.ant-btn-primary {
  background-color: #0e5162;
  border-color: #0e5162;
  color: #fbcb29;
  margin: 20px;
  font-size: 30px;
  font-weight: 550;
  display: inline-block;
  white-space: nowrap;
  width: 250px;
  height: 55px;
  border-radius: 20px;
}

.white_logo {
  background-image: url(/public/assets/white_logo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 99.5vh;
}

.menupage_left_item {
  justify-content: center;
}

.menupage_right {
  justify-content: center;
  width: 100%;
  height: 99.5vh;
}

@media (width < 900px) {
  .ant-col-11 {
    min-width: 412.4px;
  }

  .ant-cal-12 {
    width: 450px;
  }
}
